
@{
    ViewData["Title"] = "Index - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index!</h1>

    <li>
      <a asp-controller="Catergories" asp-action="Details" asp-route-product="Food">Food</a>
    </li>
    <li>
      <a asp-controller="Catergories" asp-action="Details" asp-route-product="Tech">Tech</a>
    </li>
    <li>
      <a asp-controller= "Catergories" asp-action="Details" asp-route-product="Sports">Sports</a>
     </li>
       

    @*@foreach (var product in Model)
    {
        <li><a asp-controller = "Categories" asp-action = "Details" asp-route-product = "@product.Name" > @product.Name </a></li>
    }*@
